- name: Deploy Backend
  run: |
    ssh -o StrictHostKeyChecking=no \
    ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }} << 'EOF'

      # Non-interactive shell fix
      export PATH=$PATH:/usr/bin:/usr/local/bin

      cd /var/www/Last_min_Answer_Backend

      # Automation rule: server code = github code
      git reset --hard
      git clean -fd
      git pull origin main

      /usr/bin/npm install
      /usr/bin/npx prisma migrate deploy
      /usr/local/bin/pm2 restart backend

    EOF
