- name: Deploy Backend
  run: |
    ssh -o StrictHostKeyChecking=no \
    ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }} << 'EOF'

      # Load NVM (IMPORTANT)
      export NVM_DIR="$HOME/.nvm"
      [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"

      cd /var/www/Last_min_Answer_Backend

      git reset --hard
      git clean -fd
      git pull origin main

      npm install
      npx prisma migrate deploy
      pm2 restart backend

    EOF
